<div class="geral">
    <div class="cards__container">
      <div class="cards__header">
        <div class="titulo">
            <h4>Selecione uma das opções abaixo!</h4>
        </div> 
      </div>
    </div>   
</div>


<div class="geral">
    <div class="cards__container">
      <div class="cards__header">
        <div class="titulo">
            <h4>Jogos</h4>
        </div> 
      </div>
    </div>   
</div>

<div class="geral">
    <div class="cards__container">
      <div class="cards__header">
        <div class="titulo">
            <h4>Trabalho</h4>
        </div> 
      </div>
    </div>   
</div>