<app-filtragem>
  <div class="blocoLateralFiltro">
    <p class="tituloFiltro">Filtros</p>

    <div class="centralizado">
      <input type="text" placeholder="Buscar filtro" />
    </div>
    <div>
      <!-- <p>programação</p>
        <section class="example-section">
          <mat-checkbox class="example-margin">Check me!</mat-checkbox>
        </section> -->
    </div>
  </div>
</app-filtragem>

<!-- <div class="geral">
      <div class="cards__container">
        <div class="cards__header">
          <div class="titulo">
              <h4>Selecione uma das opções abaixo!</h4>
          </div> 
        </div>
      </div>   
  </div>
  
  
  <div class="geral">
      <div class="cards__container">
        <div class="cards__header">
          <div class="titulo">
              <h4>Jogos</h4>
          </div> 
        </div>
      </div>   
  </div>
  
  <div class="geral">
      <div class="cards__container">
        <div class="cards__header">
          <div class="titulo">
              <h4>Trabalho</h4>
          </div> 
        </div>
      </div>   
  </div> -->
