* {box-sizing: border-box;}
body {
  
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    font-family: Verdana, sans-serif
  }
img{
  vertical-align: middle;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.active {
  background-color: #717171;
}

#slider {
  width: 100%;
  height: 50%;

  position: relative;
}

#slider img{
  opacity: 0;
  position: absolute;
  width: 90%;
  height: 100%;
  margin: 20px 5%;
  object-fit: cover;
  border-radius: 10px;
  transition: opacity 800ms;
}

#slider img.selected { 
  opacity: 1;
}