<div class="slideshow">
  <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <img src="../../../../assets/img/pc-smt.png" style="width: 40%" />
    <div class="text">Caption Three</div>
  </div>
  <!-- <div class="mySlides fade">
      <div class="numbertext">2 / 3</div>
      <img src="../../../../assets/img/pc-smt.png" style="width: 100%" />
      <div class="text">Caption Three</div>
    </div>
    <div class="mySlides fade">
      <div class="numbertext">3 / 3</div>
      <img src="../../../../assets/img/pc-smt.png" style="width: 100%" />
      <div class="text">Caption Three</div>
    </div> -->
</div>

<!-- <div style="text-align: center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div> -->
