<div class="geral">
  <div class="cards__container">
    <div class="cards__header">
      <img src="../../../../assets/logo/Computadores.png" />
    </div>
  </div>

  <div>
    <div class="card__geral">
      <div class="cards">
        <p>Faixa de preço:</p>
       
      </div>
    
      <div class="line"></div>

      <div>
        <img class="cardsImg" src="../../../../assets/img/images.jpg">
        <p class="textPc">Computador</p>
        <p>. Processador</p>
      </div>
      
      <div class="line"></div>
    
      
      <p></p>
    </div>
  </div>
  <br>

 


</div>
