<div class="geral">
  <div class="cards__container">
    <div class="cards__header">
      <img src="../../../../assets/logo/Computadores.png" />
    </div>
  </div>

  <div class="grade__cards">
    <div class="card">
      <p class="nivel__card">Entrada</p>
      <div class="faixa__preco">
        <p>Faixa de preço</p>
        <p>R$1000000 á 22421342342</p>
      </div>
      <div class="pc__info">
        <div class="imagem">
          <img class="cardsImg" src="../../../../assets/img/images.jpg" />
        </div>

        <div class="linhas__info">
          <p class="titulo__info">Computador Gamer</p>
          <p>. Processador: AMD Ryzen 3300g</p>
          <p>. Memoria ram: 8 Gb DDR4- T-Force</p>
          <p class="nivel__card--info">Entrada</p>
        </div>
      </div>
    </div>
  </div>
  <!-- */////////////////////////////////////////////// Notbook ////////////////////////////////////////////////////////* -->
  <div class="cards__container">
    <div class="cards__header">
      <img src="../../../../assets/logo/Notebooks.png" />
    </div>
  </div>

  <div class="grade__cards">
    <div class="card">
      <p class="nivel__card">Entrada</p>
      <div class="faixa__preco">
        <p>Faixa de preço</p>
        <p>R$1000000 á 22421342342</p>
      </div>
      <div class="pc__info">
        <div class="imagem">
          <img class="cardsImg" src="../../../../assets/img/image 242.png" />
        </div>

        <div class="linhas__info">
          <p class="titulo__info">Computador Gamer</p>
          <p>. Processador: AMD Ryzen 3300g</p>
          <p>. Memoria ram: 8 Gb DDR4- T-Force</p>
          <p class="nivel__card--info">Entrada</p>
        </div>
      </div>
    </div>
  </div>
</div>
